apiVersion: apps/v1
kind: Deployment
metadata:
  name: iris-api
spec:
  replicas: 1
  selector:
    matchLabels:
      app: iris-api
  template:
    metadata:
      labels:
        app: iris-api
    spec:
      containers:
      - name: iris-api
        image: asia-south1-docker.pkg.dev/amazing-centaur-473015-c7/iris-api:latest
        ports:
        - containerPort: 8080
